body {
    background-color: black;
}

h1 {
font-family: Arial sans-serif;
    color: white;
    border-bottom: 2px solid blue;
}

p{
    color: red;
    border: 1px solid powderblue;
}
