body {
    background-color: black;
}

menu, ol, ul, li {
    list-style: none;
}

h1 {
font-family: Arial sans-serif;
    color: white;
    border-bottom: 2px solid blue;
}

h2 {
    font-family: Arial sans-serif;
    color: blue;
    border-bottom: 2px solid white;
}

h3 {
    font-family: Arial sans-serif;
    color: Green;
    border-bottom: 2px solid white;
}

img {
    display: block;
    margin: auto;
    width: 50%;
}

p{
    color: red;
    border: 2px solid powderblue;
    margin: 40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
}

li::before {
  content: "• ";
  color: red; /* or whatever color you prefer */
}

ol li display: list-item {
    color: red;
    background: yellow;
    padding: 20px;
}

ul li display: list-item {
    color: red;
    background: yellow;
    li::before {content: "•"; color: red}
    display: inline-block; width: 1em;
    margin-left: -1em}
    padding: 20px;
}
